{% extends 'base/base.html' %}

{% block content %}
<a class= "btn btn-danger" href="{% url 'teachers:teacher_list' %}">Cancelar</a><br>
<br>
	<div class="alert alert-success" role="alert">
		AVISO: Selecciona un archivo desde tu ordenador en <a href="#" class="alert-link"> Formato .xlsx (Excel)</a>  Para realizar la importación 
	</div>
<table>
		<tr>
			<td>
				<form method="post" enctype="multipart/form-data">  
					{% csrf_token %}  
					<input type="file" name="xlsfile" class="form-control">  
					<td><button type="submit" class="btn btn-info">Subir</button></td>
				</form>
			</td> 
		</tr>
	</table>
{% endblock%}