{% extends 'base/base.html' %}

{% block content %}
<a class= "btn btn-danger" href="{% url 'teachers:teacher_list' %}">Cancelar</a><br>

	<table class="table">
		<tr>
			<td><h4><strong>Buscar por:</strong></h4></td>
		</tr>
		<tr>
			<form method="get">
				<p>
					<th>Nombre: {{ filter.form.first_name }} </th>
					<th>Matrícula: {{ filter.form.matricula }} </th>
					<th>Grado academico: {{ filter.form.grado_academico }} </th>
					
					<th>Tipo: {{ filter.form.tjornada }} </th>
					
					<th><button class="btn btn-primary" type="submit">Buscar</button></th>
				</p>
			</form>
		</tr>
	</table>
<table class="table table-bordered table-striped table-hover">
	<thead>
		<tr>
			<th>Matrícula</th>
			<th>Nombre</th>
			<th>Grado academico</th>
			<th>Tipo</th>
			<th>Número de empleado</th>
			<th>Estatus</th>
			<th>Acciones</th>
		</tr>
	</thead>
	<tbody>
		{% if filter.qs %}
		{% for teacher in filter.qs %}
		<tr>
			<td>{{ teacher.matricula }}</td>
			<td>{{ teacher.first_name }} {{ teacher.last_name }}</td>
			<td>{{ teacher.grado_academico }}</td>
			<td>{{ teacher.tjornada }}</td>
			<td>{{ teacher.numero_empleado }}</td>	
			<td>{{ teacher.estatus }}</td>	
			<td>
				<a class="btn btn-success" href="{% url 'teachers:teacher_show' teacher.id %}">Ver</a>
				<a class="btn btn-info" href="{% url 'teachers:teacher_update' teacher.id %}">Editar</a>
				<a class="btn btn-danger" href="{% url 'teachers:teacher_delete' teacher.id %}">Eliminar</a>
			</td>
		</tr>
		{% endfor %}
		{% else %}
			<div class="alert alert-danger" role="alert">
				AVISO: No Hay Registros de docentes. <a href="{% url 'teachers:teacher_create' %}" class="alert-link"> Click Aquí para Registrar </a>	 
			</div>
		{% endif %}
	</tbody>
</table>
<ul class="pager">
	<li>
		{% if page_obj.has_previous %}
       	 <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
		{% endif %}
    </li>
	<li>
		{% if page_obj.has_next %}
     	 <a href="?page={{ page_obj.next_page_number }}">Siguiente</a> 
    	{% endif %}
    </li>
</ul> 
	
{% endblock %}

