{% extends 'base/base.html' %}

{% block content %}
<a class="btn btn-success" href="{% url 'teachers:report' %}">Descargar Excel</a><br>
<br>
<table class="table table-bordered table-striped table-hover">
	<thead>
		<tr>
			<th>Matrícula</th>
			<th>Nombre</th>
			<th>Grado academico</th>
			<th>Tipo</th>
			<th>Número de empleado</th>
			<th>Estatus</th>
			<th>Acciones</th>
		</tr>
	</thead>
	<tbody>
		{% if object_list %}
		{% for teacher in object_list %}
		<tr>
			<td>{{ teacher.matricula }}</td>
			<td>{{ teacher.first_name }} {{ teacher.last_name }}</td>
			<td>{{ teacher.grado_academico }}</td>
			<td>{{ teacher.tjornada }}</td>
			<td>{{ teacher.numero_empleado }}</td>
			<td>{{ teacher.estatus }}</td>

			<td>
				<a class="btn btn-success" href="{% url 'teachers:teacher_show' teacher.id %}">Ver</a>
				<a class="btn btn-info" href="{% url 'teachers:teacher_update' teacher.id %}">Editar</a>
				<a class="btn btn-danger" href="{% url 'teachers:teacher_delete' teacher.id %}">Eliminar</a>
			</td>
		</tr>
		{% endfor %}
		
		{% else %}
			<div class="alert alert-danger" role="alert">
				AVISO: No Hay Registros de docentes. <a href="{% url 'teachers:teacher_create' %}" class="alert-link"> Click Aquí para Registrar </a>	 
			</div>
		{% endif %}
	</tbody>
</table>
<ul class="pager">
	<li>
		{% if page_obj.has_previous %}
       	 <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
		{% endif %}
        </li>
	<li>
		{% if page_obj.has_next %}
     	 <a href="?page={{ page_obj.next_page_number }}">Siguiente</a> 
    	{% endif %}
    </li>

	<li>	
		<!-- Menú de paginación -->
			{% if is_paginated %}
			<nav aria-label="Page navigation">
				<ul class="pagination justify-content-center">
				{% if page_obj.has_previous %}
					<li class="page-item ">
					<a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
					</li>
				{% else %}
					<li class="page-item disabled">
					<a class="page-link" href="#" tabindex="-1">&laquo;</a>
					</li>
				{% endif %}
				{% for i in paginator.page_range %}
					<li class="page-item {% if page_obj.number == i %}active{% endif %}">
					<a class="page-link" href="?page={{ i }}">{{ i }}</a>
					</li>
				{% endfor %}
				{% if page_obj.has_next %}
					<li class="page-item ">
					<a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
					</li>
				{% else %}
					<li class="page-item disabled">
					<a class="page-link" href="#" tabindex="-1">&raquo;</a>
					</li>
				{% endif %}
				</ul>
			</nav>
			{% endif %}
	</li>
</ul> 

{% endblock%}