{% extends 'base/base.html' %}

{% block content %}
<a class= "btn btn-danger" href="{% url 'teachers:teacher_list' %}">Cancelar</a><br>
    <center><h2>Datos del docente: <strong>{{ object.first_name }} {{ object.last_name }}</strong><br><br> con matrícula <strong>{{ object.matricula }}</strong></h2></center>
    <hr width=100%  align="center"  size=10   noshade="noshade">
    <h3><strong>Email: </strong>{{ object.email }} </h3>
    <h3><strong>Grado académico: </strong>{{ object.grado_academico }} </h3>
    <h3><strong>Tipo: </strong>{{ object.tjornada }} </h3>
    <h3><strong>Número de empleado: </strong>{{ object.numero_empleado }} </h3>
    <h3><strong>Estatus: </strong>{{ object.estatus }} </h3>


<a class= "btn btn-success" href="{% url 'teachers:teacher_list' %}">Regresar</a>
<a class= "btn btn-info" href="{% url 'teachers:teacher_update' object.id%}">Editar</a>
<a class="btn btn-danger" href="{% url 'teachers:teacher_delete' object.id %}">Eliminar</a>

{% endblock %}