{% extends 'base/base.html' %}
{% block content %}
<a class= "btn btn-danger" href="{% url 'students:student_list' %}">Cancelar</a><br>
	<table class="table">
		<tr>
			<td><h4><strong>Buscar por:</strong></h4></td>
		</tr>
		<tr>
			<form method="get">
				<p>
					<th>Matrícula: {{ filter.form.matricula }} </th>
					<th>Nombre: {{ filter.form.first_name }} </th>
					<th>Especialidad: {{ filter.form.especialidad }} </th>
					<th>Cuatrimestre: {{ filter.form.cuatrimestre }} </th>
					<th>Grupo: {{ filter.form.grupo }} </th>
					<th><button class="btn btn-primary" type="submit">Buscar</button></th>
				</p>
			</form>
		</tr>
	</table>
<table class="table table-bordered table-striped table-hover">
	<thead>
		<tr>
			<th>Matrícula</th>
			<th>Nombre</th>
			<th>Especialidad</th>
			<th>Cuatrimestre</th>
			<th>Grupo</th>
			<th>Acciones</th>
		</tr>
	</thead>
	<tbody>
		{% if filter.qs %}
		{% for student in filter.qs %}
		<tr>
			<td>{{ student.matricula }}</td>
			<td>{{ student.first_name }} {{ student.last_name }}</td>
			<td>{{ student.especialidad }}</td>
			<td>{{ student.cuatrimestre }}</td>
			<td>{{ student.grupo }}</td>
			<td>
				<a class="btn btn-success" href="{% url 'students:student_show' student.id %}">Ver</a>
				<a class="btn btn-info" href="{% url 'students:student_update' student.id %}">Editar</a>
				<a class="btn btn-danger" href="{% url 'students:student_delete' student.id %}">Eliminar</a>
			</td>
		</tr>
		{% endfor %}
		{% else %}
			<div class="alert alert-danger" role="alert">
				AVISO: No Hay Registros de Estudiantes. <a href="{% url 'students:student_create' %}" class="alert-link"> Click Aquí para Registrar </a>	 
			</div>
		{% endif %}
	</tbody>
</table>
<ul class="pager">
	<li>
		{% if page_obj.has_previous %}
       	 <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
		{% endif %}
    </li>
	<li>
		{% if page_obj.has_next %}
     	 <a href="?page={{ page_obj.next_page_number }}">Siguiente</a> 
    	{% endif %}
    </li>
</ul> 
{% endblock %}