{% extends 'base/base.html' %}

{% block content %}
<a class= "btn btn-danger" href="{% url 'administrators:administrator_list' %}">Cancelar</a><br>
    <center><h2>Datos del administrador: <strong>{{ object.first_name }} {{ object.last_name }}</strong><br><br> con matrícula <strong>{{ object.matricula }}</strong></h2></center>
    <hr width=100%  align="center"  size=10   noshade="noshade">
    <h3><strong>Nombre: </strong>{{ object.first_name }} {{ object.last_name }} </h3>
    <h3><strong>Matrícula: </strong>{{ object.matricula }} </h3>
    <h3><strong>Correo electrónico: </strong>{{ object.email }} </h3>
    <h3><strong>Nombre de usuario: </strong>{{ object.username }} </h3>
    <h3><strong>Número de empleado: </strong>{{ object.numero_empleado }} </h3>
    <h3><strong>Estatus: </strong>{{ object.estatus }} </h3>


<a class= "btn btn-success" href="{% url 'administrators:administrator_list' %}">Regresar</a>
<a class= "btn btn-info" href="{% url 'administrators:administrator_update' object.id%}">Editar</a>
<a class="btn btn-danger" href="{% url 'administrators:administrator_delete' object.id %}">Eliminar</a>

{% endblock %}