{% extends 'base/base.html' %}
{% block content %}
<a class="btn btn-success" href="{% url 'places:report' %}">Descargar Excel</a><br>
<h3>Bienvenido/a Director: <strong>{{ user.first_name }} {{ user.last_name }}</strong></h3>
<hr width=100%  align="center"  size=10   noshade="noshade">	
<table class="table table-bordered table-striped table-hover">
	<thead>
		<tr>
			<th>Tipo</th>
			<th>Encargado</th>
			<th>Ubicación</th>
			<th>Nombre</th>
			<th>Acciones</th>
		</tr>
	</thead>
	<tbody>
		{% if object_list %}
		{% for place in object_list %}
		<tr>
			<td>{{ place.tipo }}</td>
			<td>{{ place.encargado }}</td>
			<td>{{ place.ubicacion }}</td>
			<td>{{ place.nombre }}</td>
			<td>
				<a class="btn btn-success" href="{% url 'places:place_show' place.id %}">Ver</a>
				<a class="btn btn-info" href="{% url 'places:place_update' place.id %}">Editar</a>
				<a class="btn btn-danger" href="{% url 'places:place_delete' place.id %}">Eliminar</a>
			</td>
		</tr>
		{% endfor %}
		{% else %}
			<div class="alert alert-danger" role="alert">
				AVISO: No Hay Registros de Laboratorios y/o Aulas. <a href="{% url 'places:place_create' %}" class="alert-link"> Click Aquí para Registrar </a>	 
			</div>
		{% endif %}
	</tbody>
</table>
<ul class="pager">
	<li>
		{% if page_obj.has_previous %}
       	 <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
		{% endif %}
        </li>
	<li>
		{% if page_obj.has_next %}
     	 <a href="?page={{ page_obj.next_page_number }}">Siguiente</a> 
    	{% endif %}
    </li>
	<li>	
		<!-- Menú de paginación -->
			{% if is_paginated %}
			<nav aria-label="Page navigation">
				<ul class="pagination justify-content-center">
				{% if page_obj.has_previous %}
					<li class="page-item ">
					<a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
					</li>
				{% else %}
					<li class="page-item disabled">
					<a class="page-link" href="#" tabindex="-1">&laquo;</a>
					</li>
				{% endif %}
				{% for i in paginator.page_range %}
					<li class="page-item {% if page_obj.number == i %}active{% endif %}">
					<a class="page-link" href="?page={{ i }}">{{ i }}</a>
					</li>
				{% endfor %}
				{% if page_obj.has_next %}
					<li class="page-item ">
					<a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
					</li>
				{% else %}
					<li class="page-item disabled">
					<a class="page-link" href="#" tabindex="-1">&raquo;</a>
					</li>
				{% endif %}
				</ul>
			</nav>
			{% endif %}
	</li>
</ul> 
{% endblock%}